@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--Es el html principal, muy similar al funcionamiento de ángular (pero no está la cabecera)-->
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Primer proyecto en ASP con Firebase</a>.</p>
</div>
